body {
  background-color: #ffffff;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
}

header {
  background-color: #4e99b4;
  color: #ffffff;
  margin: -1rem -1rem 0 -2rem;
  padding: 3rem 0 0 11rem;
}

header nav {
  background-color: #ebebeb;
  color: #000000;
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 0 0 -10rem;
  padding: .5rem 10rem .5rem 10rem;
}

header a {
  color: #000000;
}

main {
  display: grid;
  padding: 0 5em 0 1em;

}

.intro {
  text-transform: none;
  color: #4e99b4;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.05rem;
}

section {
  grid-column: 1 / 4;
  padding: 2em 0 0 8em;

}

aside {
  grid-column: 7 / 8;
  margin: -6em 0 5em 2.5em;
}

.main-sidebar {
  grid-column: 7 / 8;
  margin: -20rem 0 5em 4.5em;
  padding: 3em 0 0 0;
}

table {
  padding: 1rem 0 4rem 0;
}

th {
  color: #4e99b4;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  padding: 0 2rem .5rem 0;
}

td {
  font-size: 1em;
  line-height: 2em;
  font-weight: 200;
  padding: 0 4.5em 0 0;
}

.name {
  font-weight: 600;
}

.available {
  color: green;
}

.not-available {
  color: red;
}

blockquote {
  color: #4e99b4;
  font-weight: 200;
  line-height: 1.25rem;
  margin: 0 0 0 0;
  padding: .5em 0 1em 0;
  font-size: 1.5rem;
}

.quote {
  font-size: .75em;
  line-height: 1.25rem;
}

.attribution {
  font-size: .75em;
  line-height: 0rem;
  font-style: italic;
}

aside a {
  font-size: 1em;
}

.articles {
  padding: .75em 0 1rem 0;
}

.feature-cat {
  max-width: 85%;
  padding: 0 0 1rem 0;
}

.sidebar-image {
  max-width: 85%;
}

footer {
  clear: both;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #ffffff;
  background-color: #3a3a3a;
  text-align: center;
  margin: 0 -1rem -1rem -1rem;
  padding: 3rem 35% 2rem 35%;
}

footer a {
  color: #ffffff;
  font-weight: 600;
  font-size: .85rem;
}

footer p {
  font-size: .95em;
  font-weight: lighter;
  padding: 0 2rem 0 2rem;
}

.footer-logo {
  max-width: 55%;
  padding: .5rem 0 .5rem 0;
}

.footer-nav {
  font-size: 0.5rem;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #4e99b4;
  font-size: 1em;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
  font-size: 2em;
}

h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.25rem;
  max-width: 30%;
  padding: 0 0 1.5rem 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
}

.our-cats {
  padding-top: 1rem;
}

h4 {
  text-transform: uppercase;
  font-size: 1em;
}

.sidebar h4 {
  font-weight: 600;
}

ul {
  list-style-type: none;
  display: inline-flex;
  padding-left: 0;
}

ul li:nth-child(n+2)::before {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  content: "";
}
